<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Add Item</title>
  </head>
  <body class="addItemBody">
    <h2>Add Item</h2>
    <form action="/<%= category %>/addItem" method="POST">
      <div>
        <label for="itemName">Name</label>
        <input
          type="text"
          name="itemName"
          id="itemName"
          maxlength="30"
          required
        />
      </div>
      <div>
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" max="100" required />
      </div>
      <div>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" max="300" required />
      </div>
      <div>
        <label for="url">Image url</label>
        <input type="url" name="url" id="url" required />
      </div>
      <button>Add</button>
      <a href="/">
        <button type="button">Back</button>
      </a>
    </form>
  </body>
</html>
